[Unit]
Description=CARLA Simulator %i
After=network.target

[Service]
Type=simple
WorkingDirectory=REPO_PATH
ExecStart=REPO_PATH/scripts/simulators/startup/run-%i.sh
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
